# 주식, 지수 데이터 일자별 병합

## 라이브러리 불러오기

In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## 전역변수 선언

In [18]:
INDEX_DIR = "/home/freeman/projects/data/indexes"
STOCK_MERGE_PATH = "/home/freeman/projects/data/crawling/krx/merge/krx-merge.csv"
MERGE_PATH = "/home/freeman/projects/data/crawling/krx/merge/all-merge.csv"

prefix = ["snp500_", "nasdaq_", "nasdaq100_", "kosdaq_", "kospi100_", "kospi200_", "kospi_", "usd_krw_"]

## 파일 병합

### 지수 파일 읽기
각 항목별로 2개의 파일이 존재함

In [37]:
base_columns = ['close', 'open', 'high', 'low', 'volume', 'rate']
def read_csv(pcolumn, fname):
    columns = ["date"]+[f"{pcolumn}{x}" for x in base_columns]
    df = pd.read_csv(os.path.join(INDEX_DIR, fname),
                     delimiter=",", encoding="UTF8", skiprows=[0],
                     names=columns)
    df.drop([columns[5]], axis=1, inplace=True)
    del columns[5]
    df[columns[0]] = pd.to_datetime(df[columns[0]])
    df[columns[5]] = df[columns[5]].apply(lambda x: str(x).replace("%", ""))
    for col in columns[1:]:
        df[col] = df[col].apply(lambda x: str(x).replace(",","")).apply(pd.to_numeric)
    df.set_index(columns[0], inplace=True)
    return df

In [38]:
dfs = []
files = os.listdir(INDEX_DIR)

for p in prefix:
    each_df = pd.DataFrame()
    for f in files:
        if p in f:
            each_df = pd.concat([each_df, read_csv(p, f)])
    dfs.append(each_df)

#### 지수 파일 병합

In [41]:
idx_merge_df = pd.concat(dfs, axis=1)

In [42]:
idx_merge_df.shape

(5856, 40)

In [43]:
idx_merge_df

,snp500_close,snp500_open,snp500_high,snp500_low,snp500_rate,nasdaq_close,nasdaq_open,nasdaq_high,nasdaq_low,nasdaq_rate,...,kospi_close,kospi_open,kospi_high,kospi_low,kospi_rate,usd_krw_close,usd_krw_open,usd_krw_high,usd_krw_low,usd_krw_rate
date,,,,,,,,,,,,,,,,,,,,,
2000-05-01,1468.20,1452.40,1481.40,1452.40,1.09,3958.08,3930.18,3982.38,3899.71,2.52,...,NaN,NaN,NaN,NaN,NaN,1110.00,1110.00,1110.00,1110.00,0.02
2000-05-02,1446.30,1468.20,1468.20,1445.10,-1.49,3785.45,3927.92,3948.63,3784.54,-4.36,...,752.59,731.76,753.46,729.84,3.75,1109.80,1110.30,1111.20,1109.80,-0.02
2000-05-03,1415.10,1446.30,1446.30,1398.40,-2.16,3707.31,3755.30,3787.43,3592.79,-2.06,...,752.76,751.07,755.62,742.94,0.02,1109.90,1109.80,1110.30,1109.10,0.01
2000-05-04,1409.60,1415.10,1420.50,1405.00,-0.39,3720.24,3723.27,3762.47,3679.43,0.35,...,751.29,753.18,760.99,745.39,-0.20,1111.25,1110.55,1111.55,1110.55,0.12
2000-05-05,1432.60,1409.60,1435.90,1405.20,1.63,3816.82,3694.28,3818.40,3694.28,2.60,...,NaN,NaN,NaN,NaN,NaN,1111.50,1111.50,1111.50,1111.50,0.02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-10-07,3639.66,3706.74,3706.74,3620.73,-2.80,10652.41,10877.28,10891.93,10608.52,-3.80,...,2232.84,2217.84,2245.88,2215.08,-0.22,1415.51,1408.62,1417.37,1402.00,0.51
2022-10-10,3612.39,3647.51,3652.17,3588.10,-0.75,10542.10,10659.95,10669.93,10449.04,-1.04,...,NaN,NaN,NaN,NaN,NaN,1427.61,1425.46,1430.77,1423.45,0.85
2022-10-11,3588.84,3595.86,3640.66,3568.45,-0.65,10426.19,10484.37,10608.84,10351.98,-1.10,...,2192.07,2193.02,2193.05,2174.06,-1.83,1431.42,1428.97,1438.69,1427.03,0.27
2022-10-12,3577.03,3590.83,3608.34,3573.86,-0.33,10417.10,10437.00,10494.53,10372.21,-0.09,...,2202.47,2191.35,2205.02,2181.65,0.47,1424.90,1431.80,1436.04,1422.04,-0.46
2022-10-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2162.87,2198.29,2198.34,2162.87,-1.80,1432.32,1424.90,1433.32,1423.92,0.52

In [69]:
idx_merge_df.reset_index(inplace=True)

### 주식 파일 읽기

In [44]:
stock_merge_df = pd.read_csv(STOCK_MERGE_PATH, sep=",")

In [45]:
stock_merge_df.shape

(11326047, 14)

In [46]:
stock_merge_df

,com_code,com_name,m_type,close,diff,ratio,open,high,low,volume,value,t_value,t_volume,date
0,035760,CJ39쇼핑,KOSDAQ,33500.0,-100.0,-0.30,32100.0,34500.0,31100.0,93997.0,3.124420e+09,2.761697e+11,8243871,2000-05-29
1,039720,CJ프론티어,KOSDAQ,3460.0,370.0,11.97,3390.0,3460.0,3020.0,170.0,5.799400e+05,7.600271e+10,21966100,2000-05-29
2,017300,KDS,KOSPI,4600.0,-90.0,-1.92,4200.0,4900.0,4200.0,1471910.0,6.890329e+09,2.373651e+11,51601111,2000-05-29
3,008480,KEP전자,KOSPI,1130.0,10.0,0.89,1050.0,1200.0,1020.0,1627530.0,1.851754e+09,5.480181e+10,48497179,2000-05-29
4,018590,KNC,KOSPI,1700.0,0.0,0.00,1550.0,1770.0,1550.0,156080.0,2.617525e+08,3.004298e+10,17672341,2000-05-29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11326042,000547,흥국화재2우B,KOSPI,20350.0,-550.0,-2.63,20600.0,21150.0,20200.0,1571.0,3.214790e+07,3.125760e+09,153600,2022-10-20
11326043,000545,흥국화재우,KOSPI,6350.0,-60.0,-0.94,6490.0,6490.0,6350.0,617.0,3.924650e+06,4.876800e+09,768000,2022-10-20
11326044,003280,흥아해운,KOSPI,1665.0,-75.0,-4.31,1750.0,1775.0,1665.0,984346.0,1.683285e+09,4.003075e+11,240424899,2022-10-20
11326045,037440,희림,KOSDAQ,8240.0,160.0,1.98,8490.0,8560.0,8210.0,1411179.0,1.185009e+10,1.147212e+11,13922475,2022-10-20
11326046,238490,힘스,KOSDAQ,5880.0,-160.0,-2.65,6110.0,6190.0,5780.0,7452.0,4.422002e+07,6.651595e+10,11312236,2022-10-20

In [68]:
stock_merge_df["date"] = pd.to_datetime(stock_merge_df["date"])
stock_merge_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11326047 entries, 0 to 11326046
Data columns (total 14 columns):
 #   Column    Dtype
---  ------    -----
 0   com_code  object
 1   com_name  object
 2   m_type    object
 3   close     float64
 4   diff      float64
 5   ratio     float64
 6   open      float64
 7   high      float64
 8   low       float64
 9   volume    float64
 10  value     float64
 11  t_value   float64
 12  t_volume  int64
 13  date      datetime64[ns]
dtypes: datetime64[ns](1), float64(9), int64(1), object(3)
memory usage: 1.2+ GB

### 지수, 주식 파일 병합

In [71]:
all_merge_df = pd.merge(stock_merge_df, idx_merge_df, how="outer", on="date")

In [72]:
all_merge_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11326278 entries, 0 to 11326277
Data columns (total 54 columns):
 #   Column           Dtype
---  ------           -----
 0   com_code         object
 1   com_name         object
 2   m_type           object
 3   close            float64
 4   diff             float64
 5   ratio            float64
 6   open             float64
 7   high             float64
 8   low              float64
 9   volume           float64
 10  value            float64
 11  t_value          float64
 12  t_volume         float64
 13  date             datetime64[ns]
 14  snp500_close     float64
 15  snp500_open      float64
 16  snp500_high      float64
 17  snp500_low       float64
 18  snp500_rate      float64
 19  nasdaq_close     float64
 20  nasdaq_open      float64
 21  nasdaq_high      float64
 22  nasdaq_low       float64
 23  nasdaq_rate      float64
 24  nasdaq100_close  float64
 25  nasdaq100_open   float64
 26  nasdaq100_high   float64
 27  nasdaq100_low    float64
 28  nasdaq100_rate   float64
 29  kosdaq_close     float64
 30  kosdaq_open      float64
 31  kosdaq_high      float64
 32  kosdaq_low       float64
 33  kosdaq_rate      float64
 34  kospi100_close   float64
 35  kospi100_open    float64
 36  kospi100_high    float64
 37  kospi100_low     float64
 38  kospi100_rate    float64
 39  kospi200_close   float64
 40  kospi200_open    float64
 41  kospi200_high    float64
 42  kospi200_low     float64
 43  kospi200_rate    float64
 44  kospi_close      float64
 45  kospi_open       float64
 46  kospi_high       float64
 47  kospi_low        float64
 48  kospi_rate       float64
 49  usd_krw_close    float64
 50  usd_krw_open     float64
 51  usd_krw_high     float64
 52  usd_krw_low      float64
 53  usd_krw_rate     float64
dtypes: datetime64[ns](1), float64(50), object(3)
memory usage: 4.6+ GB

## 파일 전처리

### NaN 제거

In [75]:
# 2013.06월 이전 데이터는 지수 정보가 없어 삭제됨
all_merge_df.dropna(inplace=True)
all_merge_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5851699 entries, 5269839 to 11310103
Data columns (total 54 columns):
 #   Column           Dtype
---  ------           -----
 0   com_code         object
 1   com_name         object
 2   m_type           object
 3   close            float64
 4   diff             float64
 5   ratio            float64
 6   open             float64
 7   high             float64
 8   low              float64
 9   volume           float64
 10  value            float64
 11  t_value          float64
 12  t_volume         float64
 13  date             datetime64[ns]
 14  snp500_close     float64
 15  snp500_open      float64
 16  snp500_high      float64
 17  snp500_low       float64
 18  snp500_rate      float64
 19  nasdaq_close     float64
 20  nasdaq_open      float64
 21  nasdaq_high      float64
 22  nasdaq_low       float64
 23  nasdaq_rate      float64
 24  nasdaq100_close  float64
 25  nasdaq100_open   float64
 26  nasdaq100_high   float64
 27  nasdaq100_low    float64
 28  nasdaq100_rate   float64
 29  kosdaq_close     float64
 30  kosdaq_open      float64
 31  kosdaq_high      float64
 32  kosdaq_low       float64
 33  kosdaq_rate      float64
 34  kospi100_close   float64
 35  kospi100_open    float64
 36  kospi100_high    float64
 37  kospi100_low     float64
 38  kospi100_rate    float64
 39  kospi200_close   float64
 40  kospi200_open    float64
 41  kospi200_high    float64
 42  kospi200_low     float64
 43  kospi200_rate    float64
 44  kospi_close      float64
 45  kospi_open       float64
 46  kospi_high       float64
 47  kospi_low        float64
 48  kospi_rate       float64
 49  usd_krw_close    float64
 50  usd_krw_open     float64
 51  usd_krw_high     float64
 52  usd_krw_low      float64
 53  usd_krw_rate     float64
dtypes: datetime64[ns](1), float64(50), object(3)
memory usage: 2.4+ GB

### 날짜 정보 추가
년, 요일정보 추가

In [79]:
all_merge_df["year"] = all_merge_df["date"].dt.year
all_merge_df["day_of_week"] = all_merge_df["date"].dt.day_of_week

## 파일 저장

In [80]:
all_merge_df.to_csv(MERGE_PATH, index=False)